{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<main class="form-signin">
		<h1>Register</h1>

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
		{{ form_end(registrationForm) }}
	</main>

	{# read and display just one flash message type #}
	{% for message in app.flashes('Good register') %}
		<div class="flash-notice">
			{{ message }}
		</div>
	{% endfor %}
{% endblock %}
