{% extends 'base.html.twig' %}

{% block title %}
	Inbox
{% endblock %}

{% block body %}
	<style>
		.b-example-divider {
			height: 3rem;
			background-color: rgba(0, 0, 0, 0.1);
			border: solid rgba(0, 0, 0, 0.15);
			border-width: 1px 0;
			box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
		}

		.bi {
			vertical-align: -0.125em;
			fill: currentColor;
		}

		.opacity-50 {
			opacity: .5;
		}

		.opacity-75 {
			opacity: .75;
		}

		.list-group {
			width: auto;
			max-width: 460px;
			margin: 4rem auto;
		}

		.form-check-input:checked+.form-checked-content {
			opacity: .5;
		}

		.form-check-input-placeholder {
			pointer-events: none;
			border-style: dashed;
		}

		[contenteditable]:focus {
			outline: 0;
		}

		.list-group-checkable {
			display: grid;
			gap: 0.5rem;
			border: 0;
		}

		.list-group-checkable .list-group-item {
			cursor: pointer;
			border-radius: 0.5rem;
		}

		.list-group-item-check {
			position: absolute;
			clip: rect(0, 0, 0, 0);
			pointer-events: none;
		}

		.list-group-item-check:hover+.list-group-item {
			background-color: var(--bs-light);
		}

		.list-group-item-check:checked+.list-group-item {
			color: #fff;
			background-color: var(--bs-blue);
		}

		.list-group-item-check[disabled]+.list-group-item,
		.list-group-item-check:disabled+.list-group-item {
			pointer-events: none;
			filter: none;
			opacity: .5;
		}
	</style>

	{# añadir css para list-group #}
	<div class="list-group">
		<h2>
			Inbox
			<i class="fas fa-inbox"></i>
		</h2>
		<div class="messages">
			{% for message in messages %}
				<a
					href="{{ path('info_message', {'id': message.id}) }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
					{# <img src="#" alt="Avatar de usuario" width="32" height="32" class="rounded-circle flex-shrink-0"/> #}
					<div class="d-flex gap-2 w-100 justify-content-between">
						<div>
							<h6 class="mb-0">
								{{ message.fromuserid }}</h6>
							<p class="mb-0 opacity-75">
								{{ message.text }}
							</p>
						</div>
						<small class="opacity-50 text-nowrap">
							{{ message.timestamp|date("H:i:s m/d/Y ") }}</small>
					</div>
					{% if message.isread == 0 %}
						<i class="far fa-check-square"></i>
					{% endif %}
					<i class="fas fa-check-square"></i>
				</a>
			{% endfor %}

			<a href="{{ path('new_message') }}" class="btn btn-success">New message</a>
			<a href="{{ path('users_index') }}" class="btn btn-primary">Check users
			</a>
		</div>
	</div>
{% endblock %}
