{% extends 'base.html.twig' %}

{% block title %}New message
{% endblock %}

{% block body %}

	<main class="container">
		<h2>New Message</h2>
		<form class="needs-validation" method="post" novalidate enctype="multipart/form-data">
			<div class="col-md-6 mb-3">
				<label for="username">To:
				</label>
				<!-- <input type="text" class="form-control" id="username" name="username" placeholder="" value="<?= $touseridurl ?>" required hidden> -->
				{# <input type="text" class="form-control" id="username" name="username" list="contacts" placeholder="" required>
				<div class="invalid-feedback">
					Valid user name is required.
				</div> #}
				<select class="form-select"  name="username" id="contacts" required>
					{% for user in users %}
						{% if emailSet == user.email %}
						<option value={{user.email}} selected>{{user.email}}</option>
						{% else %}
						<option value={{user.email}}>{{user.email}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			<div class="col-md-6 mb-3">
				<label for="message">Message</label>
				<textarea type="text" class="form-control" id="message" name="message" placeholder="New message" value="" required></textarea>
				<div class="invalid-feedback">
					Valid message is required.
				</div>
			</div>
			<div class="col-md-6 mb-3">
				<label for="fileToUpload" class="form-label">Attach file or image</label>
				<input type="file" class="form-control" name="fileToUpload" id="fileToUpload">
			</div>
			<div class="col-md-6 mb-3">
				<button class="btn btn-primary btn-lg btn-block" type="submit">Send</button>
				<a href="{{ path('messages_index') }}" class="btn btn-secondary btn-lg btn-block" type="submit">Go back</a>
			</div>
		</form>
	</main>

{% endblock %}
