{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}

{% block body_id 'blog_search' %}

{% block body %}
    <form action="{{ path('messages_search') }}" method="get">
        <div class="form-group">
            <input name="q"
                   class="form-control search-field"
                   placeholder="Buscar mensaje"
                   autocomplete="off"
                   value="{{ query }}"
                   autofocus
                   {# data-no-results-message="{{ 'post.search_no_results'|trans }}" #}
            >
        </div>
    </form>

    <div id="results">
    </div>
{% endblock %}

