{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!
{% endblock %}

{% block body %}
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
			<div class="container-fluid d-grid row" style="grid-template-columns: 1fr 1fr 1fr">
				<a class="navbar-brand" href="#">Users</a>
				<div class="justify-content-center" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('messages_index') }}">Messages</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('users_friends') }}">Contacts - Friends</a>
						</li>
						<a
							href="{{ path('users_profile', {'id': user.id}) }}" class="nav-link">
							{# <img src="" alt="User Avatar" width="32" height="32" class="rounded-circle"/> #}
							Profile
						</a>
					</ul>
				</div>
				<div class="d-flex ">
					<div class="flex-shrink-0 dropdown mx-auto">
						<a href="{{ path('app_logout') }}" class="btn btn-outline-light">
							Log Out
						</a>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<main class="container">
		<h3>Email: {{user.email}}</h3>
	</main>
{% endblock %}
